.app {
  .appContainer {
    padding: 24px 64px 0;

    @media screen and (max-width: 1024px) {
      padding: 24px 36px 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--title {
      h1,
      p {
        margin: 0;
      }

      h1 {
        font-size: 24px;
        font-size: $font-medium;
      }

      p {
        font-size: $font-lg;
        color: $text-grey;
      }
    }
  }

  &__body {
    margin-top: 48px;

    &--list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 25px;
    }

    &--loading {
      display: flex;
      justify-content: center;
      padding: 40px 0 60px;
    }

    @media screen and (max-width: 480px) {
      &--list {
        grid-template-columns: auto;
      }
    }

    @media screen and (min-width: 481px) and (max-width: 980px) {
      &--list {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (min-width: 981px) and (max-width: 1024px) {
      &--list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
