.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  color: $text-dark;
  display: inline-block;
  font-family: inherit;
  font-size: $font-base;
  font-weight: $font-medium;
  letter-spacing: 0.0024px;
  line-height: unset;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  transition-property: background-color, transform;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none !important;
  appearance: none !important;

  &:hover {
    // transform: translateY(-2px);
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

  &--primary {
    color: $text-dark;
    background-color: $bg-yellow;

    &:hover,
    &:active {
      background-color: lighten($bg-yellow, 10%);
    }
  }

  &--secondary {
    color: $text-dark;
    background-color: $bg-yellow-shade;

    &:hover,
    &:active {
      background-color: darken($bg-yellow-shade, 10%);
    }
  }
}
