.card {
  position: relative;
  overflow: hidden;
  min-width: 220px;
  max-height: 320px;
  width: 100%;
  background: #000000;
  border-radius: 10px;
  color: $bg-white;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: $font-lg;

  &__image img,
  &__content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }

  &__image {
    img {
      width: 100%;
      position: relative;
      opacity: 0.9;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    bottom: 10%;

    &--title {
      overflow: hidden;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
      position: absolute;
      bottom: 0;
      width: 100%;

      & > div {
        display: table;
        margin: 0 auto;
        padding: 10px 0;
        position: relative;
        text-align: center;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

        h3 {
          text-transform: uppercase;
          font-weight: $font-medium;
          font-size: $font-xlg;
          margin: 0;
        }
      }
    }

    p {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
      margin: 0;
      opacity: 0;
      line-height: 1.6em;
      font-size: 0.9em;
    }
  }

  //   Hover effect
  &:active,
  &:hover {
    cursor: pointer;
  }

  &:hover &__image img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &:hover &__content {
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
    width: auto;
    border: 1px solid $bg-white;
    border-width: 1px 1px 0;

    p {
      opacity: 1;
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }

    &--title {
      bottom: 10px;

      & > div {
        background: none;
      }
    }
  }
}
